#define NUMBER_OF_SETS {{ number_of_sets }}
#define LINE_LENGTH {{ line_length }}
#define LINE_LENGTH_LOG2 {{ line_length_log2 }}
#define ES_EVICTION_COUNTER {{ eviction_counter }}
#define ES_NUMBER_OF_ACCESSES_IN_LOOP {{ number_of_accesses_in_loop }}
#define ES_DIFFERENT_ADDRESSES_IN_LOOP {{ different_addresses_in_loop }}
#define ES_STEP_SIZE {{ step_size }}
